.Contents
  .Side-menu
    .Menu-info
      .User-image
      .User-name
        sample
      .New-post
        = link_to '#' do
          新規投稿
      .My-page
        = link_to '#' do
          マイページ
      .Direct-mail
        = link_to '#' do
          ダイレクトメール
  .Text-field
    - @tweets.each do |tweet|
      .Message-box
        .Tweet-name
        = tweet.name
        .Tweet-text
        = tweet.text
        .Tweet-image
        = tweet.image
        .Tweet-menu
          = link_to "#" do
            コメント
          = link_to "#" do
            編集
          = link_to "#" do
            削除
          = link_to "#" do
            いいね
          
          