.Contents
  .Side-menu
    .Menu-info
      .User-image
      .User-name
        = current_user.nickname
      .New-post
        = link_to new_tweet_path do
          新規投稿
      .My-page
        = link_to user_path(current_user) do
          マイページ
      .Direct-mail
        = link_to '#' do
          ダイレクトメール
  .Text-field
    - @tweets.each do |tweet|
      .Message-box
        .Tweet-name
          = tweet.user.nickname
        .Tweet-text
          = tweet.text
        .Tweet-image
          = tweet.image
        .Tweet-time
          = tweet.created_at
        .Tweet-menu
          = link_to tweet_path(tweet.id), method: :get do
            コメント
          = link_to "#" do
            いいね