.Contents
  .Side-menu
    .Menu-info
      = image_tag current_user.image.url, class: "User-image" if current_user.image?
      .User-name
        = current_user.nickname
      .New-post
        = link_to new_tweet_path do
          新規投稿
      .My-page
        = link_to user_path(current_user) do
          マイページ
      .Direct-mail
        = link_to '#' do
          ダイレクトメール
  .Text-field
    = form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |form|
      = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input"
      = form.submit "検索", class: "search-btn"
    - @tweets.each do |tweet|
      .Message-box
        .Tweet-name
          = "ユーザー名:#{tweet.user.nickname}"
          - if current_user != tweet.user
            - if tweet.user.followed_by?(current_user)
              = link_to "★", user_relationships_path(tweet.user.id), method: :delete
            - else
              = link_to "☆", user_relationships_path(tweet.user.id), method: :post              
        .Tweet-text
          投稿内容
          %br/
          = tweet.text
        .Tweet-image
          = image_tag tweet.image.url if tweet.image?
        .Tweet-time
          = tweet.created_at.strftime("%Y-%m-%d %H:%M")
        .Tweet-menu
          = link_to tweet_path(tweet.id), method: :get do
            %i.fas.fa-comment
          .Like-menu
            %div{:id => "like-btn-#{tweet.id}"}
              = render 'likes/like', tweet: tweet