.Contents-row 
  .Search-result
    = form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |form|
      = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input"
      = form.submit "検索", class: "search-btn"
    - @tweets.each do |tweet|
      .Message-box
        .Tweet-name
          = tweet.user.nickname
        .Tweet-text
          = tweet.text
        .Tweet-image
          = tweet.image
        .Tweet-time
          = tweet.created_at
        .Tweet-menu
          = link_to tweet_path(tweet.id), method: :get do
            コメント
          = link_to "#" do
            いいね