.Contents-row 
  .Search-result
    = form_with(url: search_tweets_path, local: true, method: :get, class: "search-form") do |form|
      = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input"
      = form.submit "検索", class: "search-btn"
    - @tweets.each do |tweet|
      .Message-box
        .Tweet-name
          = tweet.user.nickname
          - if current_user != tweet.user
            - if tweet.user.followed_by?(current_user)
              = link_to "★", user_relationships_path(tweet.user.id), method: :delete
            - else
              = link_to "☆", user_relationships_path(tweet.user.id), method: :post         
        .Tweet-text
          = tweet.text
        .Tweet-image
          = image_tag tweet.user.image.url if tweet.user.image?
        .Tweet-time
          = tweet.created_at.strftime("%Y-%m-%d %H:%M")
        .Tweet-menu
          = link_to tweet_path(tweet.id), method: :get do
            %i.fas.fa-comment
          .Like-menu
            %div{:id => "like-btn-#{tweet.id}"}
              = render 'likes/like', tweet: tweet