!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title GTweet
    = csrf_meta_tags
    = csp_meta_tag
    %link{:href => "https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap", :rel => "stylesheet"}/
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .Header
      .Left-box
        = link_to root_path do
          G-TWEET
      - if user_signed_in?
        .Right-box
          = link_to destroy_user_session_path, method: :delete do
            Logout
          = link_to tweets_path do
            Postindex
      - else
        .Right-box
          = link_to new_user_session_path do
            Login
          = link_to new_user_registration_path do
            Signup
    = render 'layouts/notification'
    = yield
